git+https://github.com/doevent/Real-ESRGAN.git
accelerate==0.27.2
gradio
invisible-watermark==0.2.0
Pillow==10.2.0
spaces
omegaconf==2.3.0
torchsde
timm
numpy==1.26.4
tokenizers
sentencepiece
transformers
diffusers